# Python
venv/
backend/venv/
__pycache__/
*.pyc
.env

# React / Node
node_modules/
frontend/node_modules/
dist/
build/

# Large/data files
*.zip
*.mp4
*.mov
*.exe
*.pkl
*.joblib
*.csv
*.db
*.sqlite
*.sqlite3

# System
.DS_Store
